.dateSlicerContainer{
  width: calc(96% - 20px);
}

.relativeDateContainer {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  width: calc(96% - 20px);
}

.noUi-handle {
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
  border: solid black 1px;
  transform: translate(-8px, 2px);
}

.noUi-handle::before {
  display: none;
}
.noUi-handle:after {
  display: none;
}

.noUi-connects {
  transform: translateY(2px);
}
.noUi-connect {
  background-color: #111111;
  height: 3px;
  left: 5px;
}

.noUi-marker {
  background: #007bff; /* Change the grid marker color */
}

.slider {
  margin: 10px 20px 10px 10px;
  height: 10px;
}

.dateInput {
  // margin: 5px;
  border: 1px solid #777777;
}

#dateType {
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.dateTypeSelect {
  display: inline-block;
  width: max-content !important;
  padding: 4px 20px 4px 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
}


#durationType {
  border: 1px solid #ccc;
}

.durationTypeSelect {
  display: inline-block;
  width: max-content !important;
  padding: 4px 20px 4px 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
}

#duration {
  border: 1px solid #ccc;
}

@relativeDropdownWidth: 100px;

.relativeSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: @relativeDropdownWidth;
  border: 1px solid #ccc;
  padding-left: 5px;
  cursor: pointer;
}
// .relativeBox input,
// .relativeBox select,
// .absoluteDateWrapper input {
//   display: inline-block;
//   //flex-direction: row;
//   align-items: center;
//   padding: 4px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   min-width: 100px;
// }


.relativeDropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  min-width: 100%;
  border: 1px solid #ccc;
  background: white;
  z-index: 10;
  padding-bottom: 5px;
}

.relativeDropdownItem {
  cursor: pointer;
  padding: 4px 8px;
  white-space: nowrap;
}

.inclusionContainer{
  margin-top: 4px;
}


.timeSlicerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* keeps spacing consistent */
  margin-top: 6px;
  min-width: 52px;
//  background-color: white;
  width: calc(96% - 20px);

}

.conditionSelect {
  //padding: 4px 6px;
  border: 1px solid #ccc;
  //border-radius: 4px;
  //font-size: 12px;
  cursor: pointer;
  background-color: #fff;
  width: 100px;
  text-align: center;
}

.conditionDropdownList {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.conditionDropdownItem:hover {
  background-color: #eee;
}

.timeInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
 // background-color: white;
//  max-height: 300px;
}

.timeInputWrapper {
  //border: 1px solid #ccc;
  //padding: 4px 6px;
  //font-size: 12px;
  //border-radius: 4px;
  cursor: pointer;
  //background-color: #fff;
  width: 85px;
}

// .dateTypeSelect {
//   // height: @relativeInputHeight;
// }
// .durationTypeSelet {
//   // height: @relativeInputHeight;
// }
