.dropdown-container {
  position: relative;
  width: calc(96% - 10px);
}
.dropdown-input {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 10pt;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 10px;
}
.dropdownList {
  position: absolute;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 10px);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-height: 15px;
  max-height: 300px;
  overflow-y: auto;
}
.dropdownItem {
  padding: 4px 4px;
}
.dropdownItem:hover {
  background-color: #f1f1f1;
}
.dropdownIcon {
  position: absolute;
  right: 15px;
  top: 5px;
  color: grey;
}
.chip-wrapper {
  position: relative;
  display: inline-block;
}
.chip-area {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 4px;
}
.chip {
  background: #e0e0e0;
  padding: 4px 8px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
}
.chip .remove {
  margin-left: 6px;
  cursor: pointer;
}
.more-chip {
  background: #ccc;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 12px;
}
.chip-dropdown-btn {
  padding: 4px 8px;
  cursor: pointer;
}
.chip-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  width: 160px;
  max-height: 120px;
  overflow-y: auto;
  z-index: 10;
}
.chip-dropdown.hidden {
  display: none;
}
.chip-option {
  padding: 6px 8px;
  cursor: pointer;
}
.chip-option:hover {
  background: #f0f0f0;
}
