.cancel {
  float: right;
  margin: 5px;
}
.applyAll {
  float: right;
  margin: 5px;
  background-color: rgb(22, 118, 226);
}

.reset {
  margin: 5px;
  padding-top: 5px;
  display: inline-block;
}

.resetIcon {
  padding: 5px;
  color: #0984e3;
  font-weight: bold;
  display: inline-block;
  height: 5px;
}
.resetLabel {
  color:rgb(22, 118, 226);
}
