
.numberSlicerContainer {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  //margin: 2px 2px;
//  background: white;
  width: calc(96% - 20px);
}

.conditionContainer {
  position: relative;
  display: inline-block;
  width: auto;
}

.numberConditionSelect {
  display: inline-block;
  width: max-content;
  padding: 4px 20px 4px 8px;
  box-sizing: border-box;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  //justify-content: center;
  //padding: 4px;
  border: 1px solid #ccc;
  //border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  // min-width: 130px;

}

.conditionSelect {
  cursor: pointer;
  //background: white;
  border: 1px solid #ccc;
  //border-radius: 4px;
//  padding: 4px 8px;
}

.numberInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.numberInput {
  width: 70px;
  // padding: 4px;
  border: 1px solid #ccc;
  //border-radius: 4px;
}

.numberDropdownList {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  min-width: 100%;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.relativeDropdownItem {
  cursor: pointer;
  padding: 4px 8px;
  white-space: nowrap;
}